q.DS_Store
Thumbs.db
*.log
node_modules/
public/
.deploy*/
node_modules/*
public/*
_config_.yml
.DS_Store
.idea/*

_config_livemylife.yml
!themes/livemylife/_config.yml

source/_posts/en/**

source/img/**
!source/img/avatar/
!source/img/header_img/
!source/img/scenery/
!source/img/signature/

.gitlab-ci.yml
db.json
